.container{
    width: 60rem;
    height: 30rem;
    display: flex;
    gap: 2rem;
    padding: 2.2rem;
    border-radius: .8rem;
    background-color: white;
}

.container__left{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.inputField:focus,
.tip__button:focus{
    border: none;
    outline: none;
}

.container__left--tip{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 1.5rem;
}

.tip__section{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tip__button{
    width: 9.019rem;
    height: 3rem;
    outline: none;
    border: none;
    padding-inline: 2rem;
    font-size: 1.9rem;
    border-radius: .4rem;
    background-color: var(--veryDarkCyan);
    color: var(--white);

}

.tip__button:hover{
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
    outline: none;
    border: none;
}

.active{
    color: var(--veryDarkCyan);
    background-color: var(--strongCyan);
    outline: none;
    border: none;
}

.tip__section input{
    width: 9.019rem;
    height: 3rem;
    text-align: end;
    padding-inline: 1rem;
    font-size: 1.6rem;
    border-radius: .4rem;
    background-color: var(--veryLightGrayishCyan);
    border: none;
    color: var(--veryDarkCyan);
    cursor: pointer;
}

.tip__section input::placeholder{
    text-align: center;
}

.tip__section input:focus,
.inputField:focus{
    outline: none;
    border: 2px solid var(--strongCyan);
    cursor: pointer;
    border-radius: .3rem;

}

.container__right{
    width: 45%;
    height: auto;
    border-radius: .7rem;
    background-color: var(--veryDarkCyan);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.container__right--items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container__right--tip,
.container__right--total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__right--tip p,
.container__right--total p{
    display: flex;
    flex-direction: column;
    color: white;
}

.container__right--tip span,
.container__right--total span{
    color: var(--grayishCyan);
}

.container__right h1{
    color: var(--strongCyan);
    font-size: 3rem;
}

.reset{
    border-radius: .4rem;
    color: var(--veryDarkCyan);
    background-color: var(--strongCyan);
    padding: .7rem;
    cursor: pointer;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.reset:disabled{
    background-color: hsl(183, 97%, 23%);
    cursor: default;
}

.reset:hover{
    background-color: var(--lightGrayishCyan);
}

@media screen and (max-width: 62rem){
    .container{
        width: 45rem;
        height: 29rem;
    }

    .tip__button{
        width: 6.3710935rem;
        font-size: 1.2rem;
    }

    .tip__section input{
        width: 6.3710935rem;
        font-size: 1.2rem;
    }

    .container__right--tip p,
    .container__right--total p{ 
        font-size: .8rem; 
    }

    .container__right h1{
        font-size: 2rem;
    }

    .reset{
        padding: .5rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 46rem) {
    .container{
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - 12rem);
        height: unset;
        border-radius: 1rem 1rem 0rem 0rem;
    }

    .container__left{
        width: 100%;
        height: unset;
    }

    .tip__button{
        width: calc((100% - 2rem)/3);
    }
    
    .tip__section input{
        width: calc((100% - 2rem) / 3)
    }

    .container__right{
        width:100%;
        height: unset;
    }
}

@media screen and (max-width: 375px){
    .tip__button{
       width: calc((100% - 1rem)/2);
    }

    .tip__section input{
       width: calc((100% - 1rem)/2);
    }
}