@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --strongCyan: hsl(172, 67%, 45%);
    --fontSize: 24px;
    --fontFamily: 'Space Mono', monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
    font-weight: 700;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGrayishCyan);
}

.body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.title{
  text-align: center;
  color: var(--darkGrayishCyan);
  font-size: 1rem;
  letter-spacing: 8px;
}

@media screen and (max-width: 46rem) {
    body{
        min-height: 100vh;
        height: unset;
    }

    .body{
        height: 100%;
        justify-content: flex-start;
        padding-top: 2rem;
    }
}
    
